<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mailing</title>
</head>
<body>
<form action="" method="post" id="mailAction">
    <p>
        <label for="subject">Subject</label><br/>
        <input type="text" id="subject" name="subject" required><br/>
        <label for="body">Body</label><br/>
        <textarea id="body" name="body" required></textarea><br/>
        <input type="submit" value="send"><br/>
    </p>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Send</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="java.util.List<ru.javaops.masterjava.persist.model.User>"*/-->
        <tr th:each="user,iter: ${users}">
            <td th:text="${iter.count}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:utext="${user.email}"></td>
            <td><input type="checkbox" name="sendTo" th:value="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>